.side-ber 
  %h1.day 20xx.xx.xx
  .input
    %textarea{:cols => "40", :rows => "5"} 今日：200文字以内
    %textarea{:cols => "40", :rows => "5"} 明日：200文字以内
    %textarea{:cols => "40", :rows => "5"} メモ：200文字以内
  %input{:type => "submit", :value => "送信"}/