.aaa{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  text-align: center;
  font-weight: bold;

  h2{
    height: 60px;
    padding-top: 20px;
    font-size: 33px;
    background-color: darksalmon;
    color: azure;
    font-weight: bold;
  }
  .ccc{
    font-size: 20px;
    color: dimgray;
    padding-top: 75px;
   

    .field{
      height: 85px;
    }

    .signup_btn{
      background-color: darksalmon;
      padding: 7px 15px;
      margin-bottom: 20px;
      margin-top: 10px;
      border-radius: 20px;
      border: none;
      color: white;
    }
  }
}